snippet init "log" i
#include <stdio.h>

int main($2) {
  $1
  return 0;
}
endsnippet

snippet pr "print format" i
printf("${1:$2\n}"$3);
endsnippet

snippet sc "scan format" i
scanf("$1", $2);
endsnippet
