snippet med "media" b
@media screen${1: and ($2)} {
  $3
}
endsnippet

snippet reset "css reset" b
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

${1:img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}}

${2:input, button, textarea, select {
  font: inherit;
}}
endsnippet
